<div class="admin-pannel page-wrapper">
  <div class="admin-page-container">
    <div class="admin-page-navigation">
      <%= render 'layouts/partials/admin_navbar' %>
    </div>
    <div class="admin-page-main">
      <h1 class="admin-title">Gérer les évènements</h1>
      <% @evenements.each do |evenement| %>
      <div class="admin-card">
        <h3 class="admin-element-title"><%= evenement.title %> </h3>
        <%= link_to 'Modifier', edit_evenement_path(evenement), :class => "card-button admin-button" %>
        <%= link_to 'Delete', evenement_path(evenement), method: :delete, data: {confirm: 'Es tu sûr(e) de vouloir effacer cet évènement ?'}, :class => "card-button admin-button admin-danger"  %>
      </div>
      <% end %>
    </div>
  </div>
</div>
