<div class="page-wrapper">

  <section id="wedding-list-page">
    <h1 class="section-header">Liste de mariage</h1>
    <% if @liste_de_mariages.any? %>
    <% @liste_de_mariages.each do |liste| %>
      <% if liste.description? %>
        <p class="section-intro"><%= liste.description %></p>
      <% end %>
    <div class="list-cards-container">
        <%= link_to liste.link, target: "_blank", :class => 'list-card-link' do %>
          <div class="list-card">
            <div class="list-card-image">
              <%= image_tag('gift-icon.svg') %>
            </div>
            <div class="list-card-content">
              <h3><%= liste.title %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% else %>
      <h4>Pas encore de liste pour le moment, ça arrive vite 😉</h4>
    <% end %>
  </section>

</div>
