<div class="admin-pannel page-wrapper">
  <div class="admin-page-container">
    <div class="admin-page-navigation">
      <%= render 'layouts/partials/admin_navbar' %>
    </div>
    <div class="admin-page-main">
      <h1 class="admin-title">Nouvelle liste de mariage</h1>
      <%= render 'liste_de_mariages/partials/list_form' %>
    </div>
  </div>
</div>
