<div class="admin-pannel page-wrapper">
  <div class="admin-page-container">
    <div class="admin-page-navigation">
      <%= render 'layouts/partials/admin_navbar' %>
    </div>
    <div class="admin-page-main">
      <h1 class="admin-title">Nouveau contact</h1>
      <%= render 'contacts/partials/contact_form' %>
    </div>
  </div>
</div>
