<div class="page-wrapper">

  <h1><%= @contact.firstname %> est à jour !</h1>
  <%= link_to 'Retour à la liste des contacts', contacts_path %>
  <%= link_to 'Modifier ' + @contact.firstname, edit_contact_path(@contact) %>

</div>
